<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-100">
    <header class="text-white body-font bg-[#1D4ED8]">
      <div
        class="container mx-auto flex flex-wrap py-5 flex-col md:flex-row items-center justify-between"
      >
        <a
          class="flex title-font font-medium items-center mb-4 md:mb-0"
          href="/"
        >
          <img
            src="../static/logo.jpg"
            class="w-10 h-10 text-white rounded-full bg-white"
            alt="logo"
          />
          <span class="ml-3 text-xl">NVC Translator</span>
        </a>
      </div>
    </header>
    <div class="container px-5 py-4 mx-auto">
      <div class="flex flex-row text-center w-full items-center space-x-4 py-5">
        <div>
          <img
            src="{{tweet['user']['profile_image_url'] | safe}}"
            alt="logo"
            class="w-14 h-14 rounded-full"
          />
        </div>
        <a
          class="flex flex-col items-start"
          href="https://twitter.com/{{tweet['user']['username'] | safe}}"
        >
          <div class="font-semibold">{{tweet['user']['name'] | safe}}</div>
          <div class="font-extralight">
            @{{tweet['user']['username'] | safe}}
          </div>
        </a>
      </div>
      <div class="flex flex-col">
        <div
          class="rounded-md bg-white px-8 py-8 font-normal shadow-md lg:px-14"
        >
          <div
            class="flex flex-col-reverse lg:justify-between lg:flex-row lg:items-baseline"
          >
            <div id="textBox" class="my-6">
              {{translated_text | replace('\n', '<br />') | safe}}
            </div>
            <div
              class="inline-flex mx-auto rounded-lg border border-gray-100 bg-gray-100 p-1 mb-4 lg:mx-0"
            >
              <button
                type="button"
                id="btnTranslated"
                class="inline-block rounded-md bg-[#1D4ED8] px-4 py-2 text-sm text-white shadow-sm focus:relative"
              >
                Translated
              </button>

              <button
                type="button"
                id="btnOriginal"
                class="inline-block rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative"
              >
                Original
              </button>
            </div>
          </div>

          <div class="text-center">
            <button
              type="button"
              id="copyButton"
              class="px-4 py-2 my-5 rounded-md bg-[#1D4ED8] text-white"
            >
              copy text
            </button>
          </div>
        </div>
        <div
          id="notification"
          class="hidden fixed top-4 left-1/2 z-10 transform -translate-x-1/2 bg-blue-900 text-white py-2 px-4 rounded-lg"
        >
          Text Copied!
        </div>
      </div>
    </div>
  </body>
  <script defer>
    //Event listener for copy text button
    document
      .getElementById("copyButton")
      .addEventListener("click", function () {
        navigator.clipboard
          .writeText(document.getElementById("textBox").innerText)
          .then(() => {
            // Show notification
            let notification = document.getElementById("notification");
            notification.classList.remove("hidden");

            // Hide notification after 3 seconds
            setTimeout(() => {
              notification.classList.add("hidden");
            }, 3000); // 3000 milliseconds = 3 seconds
          })
          .catch((err) => console.error("Error copying text: ", err));
      });
    var btnTranslated = document.getElementById("btnTranslated");
    var btnOriginal = document.getElementById("btnOriginal");
    var textBox = document.getElementById("textBox");

    btnTranslated.addEventListener("click", function () {
      // Update classes
      btnTranslated.className =
        "inline-block rounded-md bg-[#1D4ED8] px-4 py-2 text-sm text-white shadow-sm focus:relative";
      btnOriginal.className =
        "inline-block rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative";

      // Update textBox HTML
      textBox.innerHTML = `{{translated_text | replace('\n', '<br />') | safe}}`;
    });

    btnOriginal.addEventListener("click", function () {
      // Update classes
      btnOriginal.className =
        "inline-block rounded-md bg-[#1D4ED8] px-4 py-2 text-sm text-white shadow-sm focus:relative";
      btnTranslated.className =
        "inline-block rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative";

      // Update textBox HTML
      textBox.innerHTML = `{{tweet['text'] | replace('\n', '<br />') | safe}}`;
    });
  </script>
</html>
