<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{bot}}</title>
    <link rel="shortcut icon" href="{{logo}}" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-100">
    <header class="text-white body-font bg-[{{theme_colour}}]">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center justify-between"
      >
        <a
          class="flex title-font font-medium items-center mb-4 md:mb-0"
          href="/"
        >
          <img
            src="{{logo}}"
            class="w-10 h-10 text-white rounded-full bg-white"
            alt="logo"
          />
          <span class="ml-3 text-xl">{{bot}}</span>
        </a>
      </div>
    </header>
    <div class="container px-5 py-10 mx-auto">
      <div
        class="rounded-md bg-white px-8 py-8 font-medium shadow-md text-center"
      >
        The requested tweet might be deleted or unavailable.
      </div>
    </div>
  </body>
</html>
